*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
    
}

.home{
    background-image: url("b1.jpg");
    height: 100vh;
    background-size: cover;
}
.sticky-nav{
    /* background-color: #F8AFA6; */
    /* background-color: #EBBBB0;    */
    /* background-color: #B9B7BD;   */
    background-color:rgba(240, 248, 255, 0.738);  
    /* background-color: rgb(231, 198, 204);  */
    height: 4.5rem;
    display: flex;
}
.logo{
    color: #3B0404; 
    /* color: white; */
    width: 70%;
    font-size: 2rem;
    margin: 0.75rem 0 0 4rem;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li a{
     color: #3B0404; 
    /* color: white; */
    display: flex;
    justify-content: flex-end; 
    margin: 0.75rem 4rem 0 1rem; 
     align-items: center; 
    text-decoration: none;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0.8;
    cursor: pointer;
    /* text-shadow: 1px 1px 10px black; */
}
.nav ul li a:hover{
    opacity: 1;
    text-decoration: underline; 
}
.text{
    margin: 10rem 0 0 4rem;
    color: #3B0404;
}

#cv{
    text-decoration: none;
    font-size:large; 
    font-weight: 600;
     border-radius: 50rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: -0.5rem;
}
.text a button:hover{
    background-color: rgba(255, 0, 0, 0.815);
    color: white;
}

/*  ------------------------ about------------------------------------------------ */
#about {
    background-image: url("about3.jpeg");
    height: 100vh;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aimg img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 70vh;
    width: 70vh;
    border-radius: 15px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff1100;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* --------------SKILLS-------------- */
#skill-section{
    background-image: url("about3.jpeg");
    height: 100vh;
    background-size: cover;
    color: #3B0404;
    font-size: 1.25rem;
}

#skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
#skill-section h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.col1 ul li{
    font-size: 1.25rem;
    margin-left: 2rem;
}
.skills-container{
    padding: 3rem 0 0 8rem; 
}
.p1{
    padding: 3rem 10rem 0 0;
}

.progress-bar {
    width: 300px; 
    height: 5px; 
    background-color: #f0f0f0;
    border-radius: 5px; 
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 1rem;    
} 

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: rgb(252, 70, 101); 
    
}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* ---------------contact----------------- */
#contact{
    background-image: url("about3.jpeg");
    height: 100vh;
    background-size: cover;
    color: #3B0404;
    font-size: 1.25rem;
    text-align: justify;
}
#contact h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cinfo
{
    width: 50%;

}
.cinfo p{
    margin: 2rem 0 0 5rem ;
}
.cinfo h2{
    margin: 5rem 0 0 5rem;
}
.message{
    margin-left: 15rem;
    width: 60%;
}

.message form input
{
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 1.5rem;
    margin-bottom: 0.50rem;
}

.message form button{
    padding: 0.25rem;
    display: block;
    border-radius: 50rem;
    font-weight: 600;
    color:white;
    background-color: #ff004f;
}

/* --------------------------footer------------------------------ */
.footer{
    margin-top: 17.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color:rgba(240, 248, 255, 0.738);  ;
    color: rgba(125, 186, 240, 0.962);  ;
}

/* ----------------css for small screen----------------------------------------------------------------------------------------- */
@media (max-width:600px){
  
    *{
        color: #3B0404;
    }
    .logo{
        width: 30%;
        font-size: 2rem;
        margin: 1rem 1rem 1rem 0.5rem;
    }
    .nav ul li a{
        font-size: 1rem;
        display: flex;
        justify-content: flex-end; 
        margin: 1rem -1rem 0 2rem; 
    }
    .text{
        margin: 8rem 0 0 2rem;
    }
    /*  ------------------------ about------------------------------------------------ */
    .aimg img{
        display: none;
    }
    #about{
        padding: 2rem;
    } 
    .aboutinfo{
        font-size: 1.25rem;
        width: 100%;
        text-align: justify;
        margin-top: 1.75rem;
    }
    /* --------------SKILLS-------------- */
    .skills-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: -5rem 1rem 1rem 2rem;
    }
    #skills{
        flex-direction: column;
    }
    #skills h1{
        padding: 1rem;
    }
    .col1 h2{
        font-size: 1.2rem;
    }
    .col1 ul li{
        font-size: 1rem;
    }
    .s1 h2{
        margin-top: 2rem;
    }
    .p1{
        font-size: 0.70rem;
        margin:-2.5rem 0 0 10rem;
    }
   /* ---------------contact----------------- */
    #contact h1{
        font-size: 2rem;
    }
    .contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-container h2{
        font-size: 1.5rem;
    }
    .cinfo
    {
        width: 300px;
    }
    .cinfo p{
        margin: 1rem 0 0 1rem ;
        font-size: 1.25rem;
    }
    .cinfo h2{
        margin: 2rem 0 0 1rem;
    }
   
    .message{
        margin:-6rem -4rem 0 4rem;
        width: 60%;
    }
    .cinfo h4 i{
        font-size: 1rem;
    }
    .cinfo h4{
        font-size: 1rem;
        margin-left: -4rem;
    }
    .footer{
        margin-top: 12.5rem;
    }
}